.page.theme_light {
  --accent-color: #FFC2E6;
  --accent-color-shadow: #ff0070;
  --title-decor-bg: #FF8DCB;
  --title-decor-color: #353430;
  --page-bg-color:#fff1f7;
  --cover-image-dark:url(../images/cover-image-light.png);
  --menu-button-color:#353430;
  --menu-button-hover: #35343066;
  --main-font:'IBM Plex Mono', sans-serif;
  --section-question-color:#353430;
  --section-answer-color: #353430;
  --link-shadow:#FF8DCB;
}

.page.theme_light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
:root {
  --accent-color: #FFC2E6;
  --accent-color-shadow: #ff0070;
  --title-decor-bg: #FF8DCB;
  --title-decor-color: #353430;
  --page-bg-color:#fff1f7;
  --cover-image-dark:url(../images/cover-image-light.png);
  --menu-button-color:#353430;
  --menu-button-hover: #35343066;
  --main-font:'IBM Plex Mono', sans-serif;
  --section-question-color:#353430;
  --section-answer-color: #353430;
  --link-shadow:#FF8DCB;
  }

  .rec {
    display: none;
  }
}


/* Остальные стили */