/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background: var(--page-bg-color);
  background-attachment: fixed;
  background-image: var(--cover-image-dark);
  background-position: center;
  background-size: cover;
}

.header {
  height: 100vh;
}

.decorated-zone {
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 230px 96px 96px 230px;
  padding: 10px;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: transparent;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--menu-button-color, #ff0070);
  border-right: 1px solid var(--menu-button-color, #ff0070);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--menu-button-color, #ff0070);
  border-left: 1px solid var(--menu-button-color, #ff0070);
}

.rec {
  z-index: 2;
  display: flex;
  align-items: center;
  position: absolute;
  top: 12px;
  right: 19px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #ff0070;
}

.rec::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #ff0070;
  box-shadow: 0px 0px 4px 2px #ff0070;
  margin-left: 10px;
}

.header__theme-menu {
  grid-row: 1;
  grid-column: 2;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-button {
  background: none;
  border: 0;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: var(--menu-button-color);
  text-transform: lowercase;
  margin-block: 5px;
  padding: 4px 10px;
  padding-inline: 13px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-button-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-button-color);
  opacity: 0.4;
}

.header__theme-menu-button:focus {
  opacity: 1;
  border: 0;
  border-bottom: 1px solid var(--menu-button-color);
}

.header__title {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column: span 2;
}

.title-focus {
  text-shadow: 4px 4px 0 var(--accent-color-shadow);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--accent-color);
  line-height: 6rem;
}

.header__paragraph {
  grid-row: 4;
  grid-column: span 2;
  margin-block-start: 55px;
  margin-block-end: 55px;
  line-height: 23px;
  font-size: 18px;
}

.title-decor {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  color: var(--title-decor-color);
  background-color: var(--title-decor-bg);
}

.main {
  margin-inline: 10px;
}

.main__section {
  grid-column: span 2;
  margin-block-start: 46px;
}

.main__section:first-of-type{
margin-block-start: 40px;
}

.card {
  margin-block-end: 20px;
}

.main__section:last-of-type {
  margin-block-start: 50px;
}

.main__section-question {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--section-question-color);
  margin-block-end: 20px;
}


.main__section-title {
  margin-block-end: 10px;
}

.main__section-title-answer {
  font-style: normal;
  font-weight: 400;
  margin-block-end: 10px;
  font-size: 18px;
}

.main__section-answer {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.2px;
  color: var(--section-answer-color);
}

.main__section-answer:not(:last-child) {
  margin-block-end: 20px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow);
}

.link:hover {
  border-bottom:1px solid var(--section-answer-color);
}

.link:focus {
  border: 1px solid var(--section-answer-color);
}

.gallery__item {
  box-sizing: border-box;
  min-block-size: 4.3em;
  margin: 0;
  margin-block-end: 10px;
}

.gallery__image {
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
  inline-size: calc(100vw - 20px);
}

.footer__title {
  text-align: center;
  padding-block: 286px;
}

.footer {
  height: 100vh;
  position: relative;
}

@media (width >= 768px) {
  .decorated-zone {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6rem 1fr;
    padding: 20px;
    padding-left: 0;
  }

  .rec {
    top: 22px;
    right: 29px;
  }

  .header__title {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: span 2;
  }

  .title-focus {
    padding: 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__paragraph {
    grid-row: 3;
    grid-column: 2;
    justify-self: end;
    align-self: center;
    margin-left: 10px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .main {
    margin-inline: 20px;
    display:block;
  }

  .card{
  margin-block-end: 0px;
  }

  .main__section-question {
    margin: 0;
  }

  .main__section:first-of-type {
    margin-block-start: 60px;
  }

  .main__section:last-of-type {
    margin-block-start: 70px;
  }
  .why-hard {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .why-hard .main__section-question {
    grid-column: 1;
  }
  .why-hard .card {
    grid-column: 2;
  }

  .whats-problem {
    margin-block-start: 85px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    gap: 20px;
  }

  .whats-problem .main__section-question {
    display: block;
    width: 30%;
  }
  
  .how-to-do {
    margin-block-start: 85px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1.4em repeat(6, min-content);
    gap: 20px;
  }
  .how-to-do .main__section-question {
    grid-column: 1;
  }
  .how-to-do .card {
    grid-column: 2;
  }

  .gallery-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.835fr 1fr 1.383fr;
    gap: 20px;
    box-sizing: border-box;
    grid-auto-flow: dense;
  }

  .gallery__item {
    box-sizing: border-box;
    margin: 0;
  }

  .gallery__image {
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
    object-fit: cover;
  }

  .gallery__item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer .footer__title {
    grid-row: 2;
    grid-column: 1 / 3;
  }
}

@media (width >= 1024px) {
  .decorated-zone {
    padding-block-start: 10px;
  }

  .header__theme-menu {
    grid-row: 1;
    grid-column: span 2;
    justify-self: center;
    align-self: start;
  }
  .header__theme-menu-list {
    display: flex;
    gap: 10px;
    margin-inline-start: 19px;
    margin-block-start: 3px;
  }

  .header__paragraph {
    margin-block-start: 66px;
  }

  .whats-problem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr;
  }

  .whats-problem .main__section-question {
    grid-column: 1/4;
    grid-row: 1;
    width: 33%;
  }
  
  .whats-problem:nth-child(2) {
    grid-row:2;
    grid-column: 1/2;
  }
  .whats-problem:nth-child(3) {
    grid-row:2;
    grid-column:2/3;
  }
  .whats-problem:nth-child(4) {
    grid-row:2;
    grid-column: 3/4;
  }

  .how-to-do {
    margin-block-start: 80px;
    gap: 21px;
  }

  .main__section:last-of-type {
    margin-block-start: 60px;
  }

  .gallery-img {
    grid-template-rows: 0.825fr 1fr 1.358fr;
    margin-block-start: 20px;
  }
}
