/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background: var(--page-bg-color);
}

.decorated-zone{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 230px 96px 96px 230px;
  padding: 10px;
  background-image: var(--cover-image-dark);
  background-position: center;
  background-size: cover;
}

.header__REC{
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 19px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FF0070;
}

.header__REC::after{
  content: '';
  width: 9px; 
  height: 9px;
  border-radius: 50%;
  background-color: #FF0070;
  box-shadow: 0px 0px 4px 2px #FF0070;
  margin-left: 10px;
}

.header__theme-menu{
  grid-row:1 ;
  grid-column: 2;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-button{
  background: none;
  border: 0;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: var(--menu-button-color);
  text-transform: lowercase;
  margin-block-end: 10px;
  margin-inline-end: 10px;
  padding-inline: 13px;
}

.header__theme-menu-button_active{
  border: 1px solid var(--menu-button-color);
  pointer-events: none;
}

.header__title{
  grid-row-start:2 ;
  grid-row-end: 4;
  grid-column: span 2;
}

.title-focus{
  text-shadow: 4px 4px 0 var(--accent-color-shadow);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--accent-color);
  line-height: 6rem;
}

.header__paragraph{
  grid-row:4 ;
  grid-column: span 2;
  margin-block-start: 55px;
  margin-block-end: 55px;
  line-height:23px;
  font-size: 18px;
}

.title-decor{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  color:var(--title-decor-color);
  background-color: var(--title-decor-bg);
}

.main{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-inline:10px;
}

.main__section{
  grid-column: span 2;
}

.main__section:last-of-type{
  margin-block-start: 50px;
}

.main__section-question{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color:var(--section-question-color);
  margin-block: 40px 20px;
}

.main__section-title{
  margin-block-end: 10px;
}

.main__section-title-answer{
  font-style: normal;
  font-weight: 400;
  margin-block-end: 10px;
}

.main__section-answer{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color:var(--section-answer-color);
}

.main__section-answer:not(:last-child){
  margin-block-end: 20px;
}

.link{
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow)
}

.main__section-image{
  width: calc(100vw - 20px);
}

.main__section-image:not(:last-of-type){
  margin-block: 3px;
}


.footer__title{
  text-align: center;
  margin-block: 286px;
}
