/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
/* Файл variables.css */
:root {
  --accent-color: #DB00FF;
  --accent-color-shadow: #ff0070;
  --title-decor-bg: #FF0070;
  --title-decor-color: #000028;
  --page-bg-color:#000028;
  --cover-image-dark:url(/images/cover-image-dark.png);
  --menu-button-color:#FF0070;
  --main-font:'IBM Plex Mono', sans-serif;
  --section-question-color:#FF0070;
  --section-answer-color: #F1B2CE;
  --link-shadow:#FF0070;
}

